@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	background: url('../img/square_bg.png') repeat;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Arvo', serif;
	font-weight: 400;
	text-transform: none;	
}
* {
  margin: 0;
}
html {
  height: 100%;
}

#ptext{
font-weight:lighter;
font-size: 14px;
}

#page-header {
	padding: 2em 0 0.5em;
}

#page-header a h1 {
	font-size: 1em;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 142px; 
  color: #999;
}
.slider-item {
	width: 970px;
	height: 310px;
}

ul {
	font-weight: normal;
	margin-left: 30px;
}

a.small {
    font-size: 12px;
}
.foot {
	font-size: 12px;
}

.section-container.auto > section > .title, .section-container.auto > .section > .title
{
	font-family: 'arvo';
	background-color: #DFF2F7;
	cursor:pointer;
	border: solid 1px;
	border-color: #c1dde6;
}

.section-container.auto > section > .title a, .section-container.auto > .section > .title a
{
	padding: 0.9374em;
	color: #333333;
	font-size: 0.875em;
	background: none;
}

.section-container.auto > section > .title:hover, .section-container.auto > .section > .title:hover
{
	background-color: #c1dde6;
}
.section-container.auto > section > .content, .section-container.auto > .section > .content
{
border: solid  1px;
border-color: #c1dde6;
}


.has-tip.link a{
	font-weight: normal; 
	text-decoration: none;
	border-bottom: 0px solid transparent;
}

.tooltip{
font-weight: normal; 
text-decoration: none;
background: white;
color: black;
border: 1px solid #6f6f6f;
max-width: 340px;
line-height: 1.4em;
}
.has-tip{
	border-bottom: 0px;
	cursor: pointer;
}
.has-tip:hover, .has-tip:focus {
    border-bottom: dotted 0px #196177;
    color: #2ba6cb; 
}

/*.section-container.accordion > section > .title, .section-container.accordion > .section > .title
{
	font-family: 'arvo';
	background-color: #DFF2F7;
	cursor:pointer;
	border: solid 1px;
	border-color: #c1dde6;
}

.section-container.accordion > section > .title a, .section-container.accordion > .section > .title a
{
	padding: 0.9374em;
	color: #333333;
	font-size: 0.875em;
	background: none;
}

.section-container.accordion > section > .title:hover, .section-container.accordion > .section > .title:hover
{
	background-color: #c1dde6;
}
.section-container.accordion > section > .content, .section-container.accordion > .section > .content
{
border: solid  1px;
border-color: #c1dde6;
}
.section-container.accordion > section.active > .title, .section-container.accordion > .section.active > .title {
background: #c1dde6;
}*/